langchain
langchain-groq
langchain-community
faiss-cpu
tiktoken
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pymupdf
python-docx
docx2txt
unstructured
openpyxl
msoffcrypto-tool
jq
langchain-huggingface
langchain-experimental
rank_bm25